<html>
	<head>
		<title>IDE</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<style>
			body{
				background-color: black;
			}
			.ide-head{
				text-align: center;
				background-color: lightpink ;
			}
			.ide-content {	
				margin: 10px;
				border: 5px;
				font-color : black;
				height: 350px;
			}
			.ide-code {
				width: 100%;
				float: left;
				height: 150px;
				overflow-y: auto;
				white-space: pre;
				font-size: 15px;
				border: 2px solid lightgrey;
				background-color: grey;
			}
			.box-code{
				width:100%;
				height:150px;
				float: left;
				margin-left: 3cm solid white;
			}
			.editor-outer-margin{
			margin-left: 3cm solid white;
			color: white;
			}
			.ide-code-input {
				width: 100%;
				float: left;
				height: 100px;
				margin-left: 10px;
				box-sizing: border-box;
				resize: none;
				border: 2px solid lightgrey;
			}		
			.ide-footer {
				background-color: lightgrey;
				padding: 15px;
				padding-left: 20px; 
				font-size: 14px;
				text-align: center;
			}
			.ide-link {
				text-decoration: none;
				color: black;
				font-style: italic;
			}
			#input{
				height: 4cm;
			}
			.statement {
    color: blue;
			}	
		</style>
	</head>
	<body>
		<div class="ide-head">
			<h1 class="ide-head-content"> Online IDE </h1>
		</div>
		<table>
			<tr>
				<th style="color: white;">Text Color  |</th>
				<th style="color: white;">  Code Background Color  |</th>
				<th style="color: white;">  Background Color  |</th>
				<th style="color: white;">  Font Size  |</th>
			</tr>
			<tr>
				<th>
					<select>
						<option onclick="txtColor(event)" value="red">Red</option>
						<option onclick="txtColor(event)" value="blue">Blue</option>
						<option onclick="txtColor(event)" value="green">Green</option>
						<option onclick="txtColor(event)" value="cyan">Cyan</option>
						<option onclick="txtColor(event)" value="black">Black</option>
						<option onclick="txtColor(event)" value="yellow">Yellow</option>
					</select>
				</th>
				<th>
					<select >
						<option onclick="ediBackColor(event)" value="red">Red</option>
						<option onclick="ediBackColor(event)" value="grey">Grey</option>
						<option onclick="ediBackColor(event)" value="white">white</option>
						<option onclick="ediBackColor(event)" value="blue">Blue</option>
						<option onclick="ediBackColor(event)" value="green">Green</option>
						<option onclick="ediBackColor(event)" value="cyan">Cyan</option>
						<option onclick="ediBackColor(event)" value="black">Black</option>
						<option onclick="ediBackColor(event)" value="yellow">Yellow</option>
					</select>
	
				</th>
				<th>
					<select >
						<option onclick="backColor(event)" value="red">Red</option>
						<option onclick="backColor(event)" value="grey">Grey</option>
						<option onclick="backColor(event)" value="white">white</option>
						<option onclick="backColor(event)" value="blue">Blue</option>
						<option onclick="backColor(event)" value="green">Green</option>
						<option onclick="backColor(event)" value="cyan">Cyan</option>
						<option onclick="backColor(event)" value="black">Black</option>
						<option onclick="backColor(event)" value="yellow">Yellow</option>
					</select>
				</th>
				<th>
					<select>
						<option onclick="font(event)" value="5px">5px</option>
						<option onclick="font(event)" value="10px">10px</option>
						<option onclick="font(event)" value="15px">15px</option>
						<option onclick="font(event)" value="20px">20px</option>
						<option onclick="font(event)" value="25px">25px</option>
						<option onclick="font(event)" value="30px">30px</option>
					</select>
				</th>
			</tr>
		</table>
		<div class="ide-content">
			<form method="POST" action="/submit">
					<div class="editor-outer-margin">
						<div class="box-code" >
							<div id="code" class="ide-code" onkeypress="check(event)" contenteditable="true"></div>
						</div>
					</div>
					<p id="input"></p>
					<p style="color: white;">Input</p>
					<textarea name="input" class="ide-code-input" placeholder="Input"></textarea>
					<select name="lang">
						<option value="c">C</option>
						<option value="cpp">C++14</option>
						<option value="py">Python3</option>
						<option value="rb">Ruby</option>
					</select>
					<button>Run</button>
			</form>
		</div>
		<footer class="ide-footer">
			<p class="ide-dev">Developed By Riyan Dhiman</p>
			<p class="ide-proj-link">Link to Project <a class="ide-link" href="https://github.com/Ryand1234/Online-Ide">Github</a><p>
		</footer>
	</body>
	<script type="text/javascript">
var python = ["and", "assert", "in", "del",	"else", "raise", "from", "if", "continue", "not", "pass", "finally", "while", "yield", "is", "as", "break", "return", "elif", "except",	"def", "global", "import", "for", "or",	"print", "lambda", "with", "class", "try", "exec"];
	var TABKEY = 9;
	var ENTER = 13;
	var line = 1;
	var code;
	var $divs = $('.code-line, #code');

	function txtColor(e){
		$('.ide-code').css("color", e.target.innerHTML);
	}

	function backColor(e){
		$('body').css("background-color", e.target.innerHTML);
	}

	function ediBackColor(e){
		$('.ide-code').css("background-color", e.target.innerHTML);
	}

	function font(e){
		$('.ide-code').css('font-size', e.target.innerHTML)
	}

	function check(e){
			code = e.keyCode;
			//console.log("CODE: ",code)
			if(code == 9){
			
			newHTML = '';
			newHTML += "<span class='statement'>    &nbsp;</span>";
			$("#code").html(newHTML);

    			var child = $('#code').children();
			    var range = document.createRange();
    			var sel = window.getSelection();
    			range.setStart(child[child.length-1], 1);
    			range.collapse(true);
    			sel.removeAllRanges();
    			sel.addRange(range);
        	e.preventDefault();

			}

			if (e.keyCode == 32){
    			var newHTML = $("#code")
    			console.log("HTM: ",newHTML)
			    var txt = $('#code').text().replace(/[\s]+/g, " ").trim().split(" ")
			    
			    var val = txt[txt.length-1];
      			console.log("TXT: ",val)
      			var elt = e.target;
      			e.preventDefault();
            	elt.focus();
	            sel = document.getSelection();
    	        sel.modify("extend", "backward", "word");
        	    range = sel.getRangeAt(0);
            	console.log(range.toString().trim());
	            range.deleteContents();
    	        var el = document.createElement("div");
        	    el.innerHTML = '';
            	var frag = document.createDocumentFragment(), node;
	            while (node = el.firstChild) {
    	            frag.appendChild(node);
        	    }
            	range.insertNode(frag);
            	range.collapse();
      			console.log("LAS: ",txt[txt.length-1])
      			if (python.indexOf(val) > -1){
        			$("#code").append("<span class='statement'>" + val + "&#32;</span>")
    			}
				else{
        			$("#code").append("<span class='other'>" + val + "&#32;</span>") 
    			}
    			//$('#code').html(newHTML);

    			var child = $('#code').children();
    			console.log("CHILD: ",child);
			    var range = document.createRange();
    			var sel = window.getSelection();			
    			range.setStart(child[child.length-1], 1);
    			range.collapse(true);
    			sel.removeAllRanges();
    			sel.addRange(range);
				e.preventDefault();
				$("#code").focus()
			}

			if (e.keyCode == 13){
    			var txt = $('#code').text().replace(/[\s]+/g, " ").trim().split(" ")
			    
			}

		}
</script>
</html>
